# Green House Gases - CO2 Emission Prediction

![global-greenhouse-gas-emissions.png]()

## Problem Statment

Analysis of country specific data and development of machine learning modules in order to predict CO2 emissions from country parameters.


---

**Stages**


1.   Data Cleaning and Preparation
2.   Data exploration and predictive analysis

In [6]:
#import libraries
import pandas as pd
import numpy as np

## Importing the excel file

Importing the data file using google.colab library

In [7]:
from google.colab import files
uploaded = files.upload()
print(uploaded)

{}

In [10]:
#deriving the data file
org_data_file=r"/content/climate_change_download_0.xls"
data_sheet="Data"

In [11]:
#reading the data in pandas dataframe
data_org=pd.read_excel(org_data_file,sheet_name=data_sheet)

## Global data overview
Results of data insight

---

1. **Data Size**
2. **Columns**
3. **Data types**
4. **Series name**
5. **Others**

---

In [12]:
#shape
print("Data size: ",data_org.shape)

Data size:  (13512, 28)

In [13]:
#no.of.columns
print("No.of.columns: ",len(data_org.columns))

No.of.columns:  28

In [14]:
#available columns
print("Available columns: ",data_org.columns)

Available columns:  Index(['Country code', 'Country name',  'Series code',  'Series name',
              'SCALE',     'Decimals',           1990,           1991,
                 1992,           1993,           1994,           1995,
                 1996,           1997,           1998,           1999,
                 2000,           2001,           2002,           2003,
                 2004,           2005,           2006,           2007,
                 2008,           2009,           2010,           2011],
      dtype='object')

In [15]:
#overview of first five rows
data_org.head()

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57481,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.967875,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [16]:
#deriving unique series names
data_org["Series name"].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'],
      dtype=object)

In [17]:
#deriving unique series codes
data_org["Series code"].unique()

array(['AG.LND.EL5M.ZS', 'AG.LND.IRIG.AG.ZS', 'AG.YLD.CREL.KG',
       'BX.KLT.DINV.WD.GD.ZS', 'EG.ELC.ACCS.ZS', 'EG.USE.COMM.GD.PP.KD',
       'EG.USE.PCAP.KG.OE', 'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.PC',
       'EN.ATM.CO2E.PP.GD.KD', 'EN.ATM.GHGO.KT.CE', 'EN.ATM.METH.KT.CE',
       'EN.ATM.NOXE.KT.CE', 'EN.CLC.AERT', 'EN.CLC.DRSK.XQ',
       'EN.CLC.GHGR.MT.CE', 'EN.CLC.HCDM', 'EN.CLC.HJIP',
       'EN.CLC.HPPT.MM', 'EN.CLC.ICER', 'EN.CLC.IERU', 'EN.CLC.MDAT.ZS',
       'EN.CLC.MMDT.C', 'EN.CLC.NAMA', 'EN.CLC.NAPA', 'EN.CLC.NCOM',
       'EN.CLC.PCAT.C', 'EN.CLC.PCCC', 'EN.CLC.PCHW', 'EN.CLC.PCPT.MM',
       'EN.CLC.RNET', 'EN.POP.EL5M.ZS', 'EN.URB.MCTY.TL.ZS',
       'ER.H2O.FWTL.ZS', 'ER.LND.PTLD.ZS', 'IC.BUS.EASE.XQ',
       'IE.PPI.ENGY.CD', 'IE.PPI.TELE.CD', 'IE.PPI.TRAN.CD',
       'IE.PPI.WATR.CD', 'IQ.CPA.PUBS.XQ', 'IS.ROD.PAVE.ZS',
       'NY.GDP.MKTP.CD', 'NY.GNP.PCAP.CD', 'SE.ENR.PRSC.FM.ZS',
       'SE.PRM.CMPT.ZS', 'SH.DYN.MORT', 'SH.H2O.SAFE.ZS',
       'SH.MED.NUMW.P3', 'SH.MED.PHYS.ZS', 'SH.MLR.INCD', 'SH.STA.ACSN',
       'SH.STA.MALN.ZS', 'SI.POV.DDAY', 'SP.POP.GROW', 'SP.POP.TOTL',
       'SP.URB.GROW', 'SP.URB.TOTL'], dtype=object)

In [20]:
#deriving unique SCALE
data_org["SCALE"].unique()

array([0, 'Text'], dtype=object)

In [21]:
#deriving unique Decimals
data_org["Decimals"].unique()

array([1, 0, 'Text'], dtype=object)

**Detecting the term "Text" in 'SCALE' and 'Decimals'**

In [22]:
data_org[data_org["SCALE"]=="Text"]

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
3029,ABW,Aruba,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3030,ADO,Andorra,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3031,AFG,Afghanistan,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,AGO,Angola,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3033,ALB,Albania,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7218,YEM,"Yemen, Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7219,ZAF,South Africa,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
7220,ZAR,"Congo, Dem. Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7221,ZMB,Zambia,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7222,ZWE,Zimbabwe,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..

In [23]:
data_org[data_org["Decimals"]=="Text"]

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
3029,ABW,Aruba,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3030,ADO,Andorra,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3031,AFG,Afghanistan,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,AGO,Angola,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3033,ALB,Albania,EN.CLC.AERT,Annex-I emissions reduction target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7218,YEM,"Yemen, Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7219,ZAF,South Africa,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
7220,ZAR,"Congo, Dem. Rep.",EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7221,ZMB,Zambia,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..
7222,ZWE,Zimbabwe,EN.CLC.RNET,Renewable energy target,Text,Text,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,..

## Data Cleaning
  1. Removing **Text** in 'Scale' and Decimals'.
  2. Removing unnecessary columns.
  3. Transform the ".." and empty cells into **NaN** values for easier recognition.
  4. Transforming all data into numerical data type.
  5. Renaming the features of **Series name**

**Removing "Text" in 'Scale' column**

In [24]:
#assining the data into a new dataframe
data_clean=data_org.copy()
print("Original no.of.rows",data_clean.shape[0])

Original no.of.rows 13512

In [25]:
#removing rows characterised as "Text" in scale column
data_clean=data_clean[data_clean["SCALE"]!="Text"]
print("No.of.rows after removing 'Text' in scale column",data_clean.shape[0])

No.of.rows after removing 'Text' in scale column 10017

**Removing unnecessary columns "Country name","Series code","SCALE","Decimals"**

In [26]:
print("Originla no.of.columns",data_clean.shape[1])
data_clean.drop(["Country name","Series code","SCALE","Decimals"],axis=1,inplace=True)
print("No.of.columns after removing unnecessary columns",data_clean.shape[1])

Originla no.of.columns 28
No.of.columns after removing unnecessary columns 24

**Transforming the ".." and Empty cells into NaN values**

In [27]:
data_clean.replace("..",np.nan,inplace=True)
data_clean.replace("",np.nan,inplace=True)

/tmp/ipython-input-27-2637662386.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_clean.replace("..",np.nan,inplace=True)

**Transforming all data types into numerical Data type**

In [31]:
data_clean2=data_clean.applymap(lambda x: pd.to_numeric(x,errors="ignore"))
print("Column data types after transformation",data_clean2.dtypes)

/tmp/ipython-input-31-3382215676.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_clean2=data_clean.applymap(lambda x: pd.to_numeric(x,errors="ignore"))
/tmp/ipython-input-31-3382215676.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_clean2=data_clean.applymap(lambda x: pd.to_numeric(x,errors="ignore"))

Column data types after transformation Country code     object
Series name      object
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
dtype: object

**Renaming features in column "Series name"**

In [58]:
chosen_vars={ 'Cereal yield (kg per hectare)': 'cereal_yield',
              'Foreign direct investment, net inflows (% of GDP)': 'fdi_perc_gdp',
              'Access to electricity (% of total population)': 'elec_access_perc',
              'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)': 'en_per_gdp',
              'Energy use per capita (kilograms of oil equivalent)': 'en_per_cap',
              'CO2 emissions, total (KtCO2)': 'co2_ttl',
              'CO2 emissions per capita (metric tons)': 'co2_per_cap',
              'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)': 'co2_per_gdp',
              'Other GHG emissions, total (KtCO2e)': 'other_ghg_ttl',
              'Methane (CH4) emissions, total (KtCO2e)': 'ch4_ttl',
              'Nitrous oxide (N2O) emissions, total (KtCO2e)': 'n2o_ttl',
              'Droughts, floods, extreme temps (% pop. avg. 1990-2009)': 'nat_emerg',
              'Population in urban agglomerations >1million (%)': 'pop_urb_aggl_perc',
              'Nationally terrestrial protected areas (% of total land area)': 'prot_area_perc',
              'GDP ($)': 'gdp',
              'GNI per capita (Atlas $)': 'gni_per_cap',
              'Under-five mortality rate (per 1,000)': 'under_5_mort_rate',
              'Population growth (annual %)': 'pop_growth_perc',
              'Population': 'pop',
              'Urban population growth (annual %)': 'urb_pop_growth_perc',
              'Urban population': 'urb_pop'}
#rename all variables in the column "Series name"
data_clean2['Series name'] = data_clean2['Series name'].replace(chosen_vars)

## DATA FRAME TRANSFORMATION

In [59]:
data_clean2.head()

,Country code,Series name,1990,1991,1992,1993,1994,1995,1996,1997,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Land area below 5m (% of land area),29.574810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADO,Land area below 5m (% of land area),0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Land area below 5m (% of land area),0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,Land area below 5m (% of land area),0.208235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,Land area below 5m (% of land area),4.967875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To prepare the data for analysis, the values in the 'Series name' column are pivoted into separate feature columns, while years are combined into a single column. This involves melting the dataset to align values with their corresponding country and year, and then merging them into a unified, structured DataFrame.

In [60]:
# save the short feature names into a list of strings
chosen_cols = list(chosen_vars.values())

# define an empty list, where sub-dataframes for each feature will be saved
frame_list = []

# iterate over all chosen features
for variable in chosen_cols:

    # pick only rows corresponding to the current feature
    frame = data_clean2[data_clean2['Series name'] == variable]

    # melt all the values for all years into one column and rename the columns correspondingly
    frame = frame.melt(id_vars=['Country code', 'Series name']).rename(columns={'Country code': 'country', 'variable': 'year', 'value': variable}).drop(['Series name'], axis='columns')

    # add the melted dataframe for the current feature into the list
    frame_list.append(frame)

In [61]:
# merge all sub-frames into a single dataframe, making an outer binding on the key columns 'country','year'
from functools import reduce
all_vars = reduce(lambda left, right: pd.merge(left, right, on=['country','year']), frame_list)

In [63]:
#new data frame after transformation
print(all_vars.head())

  country  year  cereal_yield  fdi_perc_gdp  elec_access_perc  en_per_gdp  \
0     ABW  1990           NaN           NaN               NaN         NaN
1     ADO  1990           NaN           NaN               NaN         NaN
2     AFG  1990        1200.6           NaN               NaN         NaN
3     AGO  1990         320.9     -3.263096               NaN  172.978279
4     ALB  1990        2794.3           NaN               NaN  206.751128

   en_per_cap   co2_ttl  co2_per_cap  co2_per_gdp  ...  nat_emerg  \
0         NaN  1840.834    29.620641          NaN  ...        NaN
1         NaN       NaN          NaN          NaN  ...        NaN
2         NaN  2676.910     0.140715          NaN  ...        NaN
3  569.242999  4429.736     0.428613   130.244398  ...        NaN
4  809.215612  7488.014     2.276350   581.597641  ...        NaN

   pop_urb_aggl_perc  prot_area_perc           gdp  gni_per_cap  \
0                NaN        0.105547           NaN          NaN
1                NaN        5.559145  1.028989e+09      17440.0
2           6.739396        0.432993           NaN          NaN
3          15.171061       12.399821  1.026019e+10        740.0
4                NaN        4.336615  2.101625e+09        680.0

   under_5_mort_rate  pop_growth_perc         pop  urb_pop_growth_perc  \
0                NaN         1.820254     62147.0             1.780501
1                8.8         2.945970     52773.0             2.840429
2              208.7         2.082624  19023678.0             3.492189
3              243.0         2.771320  10335052.0             6.505966
4               41.1         1.027427   3289483.0             1.744276

       urb_pop
0    31259.941
1    49976.031
2  3481333.074
3  3834304.292
4  1197371.812

[5 rows x 23 columns]

In [65]:
#check the amount of missing values
print("Missing values per column:\n", all_vars.isnull().sum())

Missing values per column:
 country                   0
year                      0
cereal_yield           1375
fdi_perc_gdp           1110
elec_access_perc       5006
en_per_gdp             2080
en_per_cap             1939
co2_ttl                1140
co2_per_cap            1143
co2_per_gdp            1554
other_ghg_ttl          4520
ch4_ttl                4508
n2o_ttl                4508
nat_emerg              4936
pop_urb_aggl_perc      2560
prot_area_perc          724
gdp                     776
gni_per_cap            1011
under_5_mort_rate       715
pop_growth_perc         256
pop                     251
urb_pop_growth_perc     468
urb_pop                 466
dtype: int64

## Filter the years by missing values

In [67]:
all_vars_clean=all_vars.copy()

#define array witj unique year values
years_count_missing=dict.fromkeys(all_vars_clean['year'].unique(),0)
for ind, row in all_vars_clean.iterrows():
  years_count_missing[row['year']] += row.isnull().sum()

#sort the years by missing values
years_missing_sorted=dict(sorted(years_count_missing.items(), key=lambda item: item[1]))

#print the missing values for each year
print("Missing values by year:")
for key,val in years_missing_sorted.items():
  print(key,":",val)

Missing values by year:
2005 : 1183
2000 : 1266
1995 : 1310
1990 : 1421
2007 : 1623
2006 : 1625
2004 : 1638
2008 : 1699
2003 : 1705
2002 : 1706
2001 : 1709
1999 : 1720
1998 : 1730
1997 : 1737
1996 : 1747
1994 : 1772
1993 : 1783
1992 : 1801
1991 : 1912
2009 : 2066
2010 : 3021
2011 : 4872

**Filtering by Year**

In [69]:
print("no.of.missing values in the whole dataset",all_vars_clean.isnull().sum().sum())
print("no.of.rows before filtering the years",all_vars_clean.shape[0])

no.of.missing values in the whole dataset 41046
no.of.rows before filtering the years 5104

In [70]:
#filter only rows
all_vars_clean=all_vars_clean[(all_vars_clean['year']>=1991)&(all_vars_clean['year']<=2008)]

In [71]:
print("no.of.missing values in the whole dataset after filtering",all_vars_clean.isnull().sum().sum())
print("no.of.rows after filtering the years",all_vars_clean.shape[0])

no.of.missing values in the whole dataset after filtering 29666
no.of.rows after filtering the years 4176

## Filtering the countries by missing values

In [76]:
# check the amount of missing values by country

# define an array with the unique country values
countries_count_missing = dict.fromkeys(all_vars_clean['country'].unique(), 0)

# iterate through all rows and count the amount of NaN values for each country
for ind, row in all_vars_clean.iterrows():
    countries_count_missing[row['country']] += row.isnull().sum()

# sort the countries by missing values
countries_missing_sorted = dict(sorted(countries_count_missing.items(), key=lambda item: item[1]))

# print the missing values for each country
print("missing values by country:")
# Print the first few countries with the lowest missing values (e.g., first 10)
for key, val in list(countries_missing_sorted.items())[:]:
    print(key, ":", val)

missing values by country:
AGO : 81
ARG : 81
AUS : 81
AUT : 81
BGD : 81
BGR : 81
BOL : 81
BRA : 81
CAN : 81
CHE : 81
CHL : 81
CHN : 81
CIV : 81
CMR : 81
COG : 81
COL : 81
CRI : 81
DEU : 81
DNK : 81
DOM : 81
ECU : 81
EGY : 81
EMU : 81
ESP : 81
FIN : 81
FRA : 81
GBR : 81
GHA : 81
GTM : 81
HND : 81
HUN : 81
IDN : 81
IND : 81
IRL : 81
ISR : 81
ITA : 81
JOR : 81
JPN : 81
KEN : 81
KOR : 81
LAC : 81
LMC : 81
LMY : 81
MAR : 81
MEX : 81
MIC : 81
MNA : 81
MOZ : 81
MYS : 81
NGA : 81
NLD : 81
NZL : 81
PAK : 81
PAN : 81
PER : 81
PHL : 81
PRT : 81
PRY : 81
ROM : 81
SAS : 81
SAU : 81
SDN : 81
SEN : 81
SLV : 81
SWE : 81
SYR : 81
TGO : 81
THA : 81
TUR : 81
TZA : 81
UMC : 81
URY : 81
USA : 81
VEN : 81
VNM : 81
ZAF : 81
ZMB : 81
GRC : 82
POL : 82
YEM : 82
ZAR : 82
DZA : 84
ETH : 84
LIC : 84
SSA : 84
WLD : 84
ARE : 85
ECA : 85
RUS : 86
UKR : 86
ARM : 87
BLR : 87
UZB : 87
KAZ : 88
CZE : 89
IRN : 89
BEL : 90
AZE : 91
GEO : 92
LBN : 92
HTI : 94
NIC : 96
BEN : 99
BWA : 99
CYP : 99
GAB : 99
HIC : 99
JAM : 99
KHM : 99
LKA : 99
MLT : 99
MNG : 99
NOR : 99
OMN : 99
SGP : 99
TTO : 99
TUN : 99
ALB : 100
EAP : 102
NPL : 103
EST : 104
LVA : 104
NAM : 104
HRV : 105
MDA : 105
SVN : 105
TJK : 105
KGZ : 106
LTU : 106
MKD : 107
SVK : 107
TKM : 107
LBY : 108
LUX : 108
BRN : 109
KWT : 113
BHR : 117
CUB : 117
ISL : 117
ZWE : 117
ERI : 121
IRQ : 122
BIH : 123
HKG : 124
BFA : 126
GIN : 126
MDG : 126
MLI : 126
NER : 126
UGA : 126
QAT : 135
ATG : 136
BHS : 136
BLZ : 136
BRB : 136
COM : 136
CPV : 136
DMA : 136
FJI : 136
GNB : 136
GRD : 136
GUY : 136
MUS : 136
SWZ : 136
VCT : 136
VUT : 136
DJI : 137
SLB : 137
SUR : 137
GMB : 141
BDI : 144
CAF : 144
LAO : 144
MRT : 144
MWI : 144
PNG : 144
RWA : 144
SLE : 144
TCD : 144
BTN : 148
LBR : 149
GNQ : 154
KNA : 154
LCA : 154
SYC : 154
TON : 154
WSM : 154
KIR : 156
SRB : 158
MDV : 164
PLW : 166
AFG : 170
MMR : 171
PRK : 171
FSM : 184
MHL : 184
LSO : 190
MAC : 198
STP : 198
TMP : 202
NCL : 204
ADO : 206
SOM : 206
WBG : 207
GRL : 216
ABW : 226
BMU : 226
PRI : 230
MNE : 231
PYF : 232
LIE : 234
MCO : 234
CYM : 250
FRO : 259
GIB : 261
COK : 270
GUM : 270
NIU : 270
SMR : 270
TUV : 272
IMY : 282
VIR : 285
ASM : 288
CHI : 288
MNP : 288
NRU : 288
TCA : 296
MYT : 324
KSV : 325
MAF : 342
CUW : 357
SXM : 357

In [77]:
print("number of missing values in the whole dataset before filtering the countries:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows before filtering the countries:")
print(all_vars_clean.shape[0])


# filter only rows for countries with less than 90 missing values
countries_filter = []
for key, val in countries_missing_sorted.items():
    if val<90:
        countries_filter.append(key)

all_vars_clean = all_vars_clean[all_vars_clean['country'].isin(countries_filter)]

print("number of missing values in the whole dataset after filtering the countries:")
print(all_vars_clean.isnull().sum().sum())
print("number of rows after filtering the countries:")
print(all_vars_clean.shape[0])

number of missing values in the whole dataset before filtering the countries:
29666
number of rows before filtering the countries:
4176
number of missing values in the whole dataset after filtering the countries:
7854
number of rows after filtering the countries:
1728

**Checking for missing values**

In [78]:
all_vars_clean.isnull().sum()

country                   0
year                      0
cereal_yield             10
fdi_perc_gdp             17
elec_access_perc       1728
en_per_gdp                0
en_per_cap                0
co2_ttl                   9
co2_per_cap               9
co2_per_gdp               9
other_ghg_ttl          1446
ch4_ttl                1440
n2o_ttl                1440
nat_emerg              1728
pop_urb_aggl_perc         0
prot_area_perc            0
gdp                       2
gni_per_cap              16
under_5_mort_rate         0
pop_growth_perc           0
pop                       0
urb_pop_growth_perc       0
urb_pop                   0
dtype: int64

## Dropping high **NaN** features

In [79]:
#remove features with more than 20 missing values
from itertools import compress

#create boolean mappling
vars_bad=all_vars_clean.isnull().sum()>20

#remove the columns
all_vars_clean2=all_vars_clean.loc[:,~vars_bad]

all_vars_clean2.isnull().sum()

country                 0
year                    0
cereal_yield           10
fdi_perc_gdp           17
en_per_gdp              0
en_per_cap              0
co2_ttl                 9
co2_per_cap             9
co2_per_gdp             9
pop_urb_aggl_perc       0
prot_area_perc          0
gdp                     2
gni_per_cap            16
under_5_mort_rate       0
pop_growth_perc         0
pop                     0
urb_pop_growth_perc     0
urb_pop                 0
dtype: int64

In [82]:
#delete rows with missing values
all_vars_clean3=all_vars_clean2.dropna(axis='rows',how='any')

print("Remaining missing values",all_vars_clean3.isnull().sum())

print("Shape of the final dataframe")
all_vars_clean3.shape

Remaining missing values country                0
year                   0
cereal_yield           0
fdi_perc_gdp           0
en_per_gdp             0
en_per_cap             0
co2_ttl                0
co2_per_cap            0
co2_per_gdp            0
pop_urb_aggl_perc      0
prot_area_perc         0
gdp                    0
gni_per_cap            0
under_5_mort_rate      0
pop_growth_perc        0
pop                    0
urb_pop_growth_perc    0
urb_pop                0
dtype: int64
Shape of the final dataframe

(1700, 18)

## Export Cleaned data frame to a file

In [84]:
#export the cleaned data into CSV file
all_vars_clean3.to_csv("data_final_cleaned.csv",index=False)

---